#linkedin-icon,
#github-icon {
  width: 80px;
  height: 80px;
}

#mainMessage {
  max-width: 500px;
  font-size: 25px;
}

#information #email {
  font-size: 25px;
}

.iconHolder {
  background-color: white;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: black 3px solid;
}

#socials a:hover {
  background-color: #ae88d7;
}

#socials {
  display: flex;
  gap: 20px;
}

#information h1 {
  font-size: 40px;
}

#information {
  color: white;
}

#contactForm {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

#contactForm input, #contactForm textarea{
  padding: 20px;
  border-radius: 20px;
  font-size: 25px;
  font-weight: 700;
}

#contactForm textarea {
  margin-bottom: 20px;
  resize: vertical;
  min-height: 140px;
}

#contactForm input[type="text"],
#contactForm textarea {
  max-width: 492px;
  border: solid 2px black;
  font-size: 16px;
}

#contactForm input[type="submit"] {
  border: solid 2px white;
  background-color: black;
  color: white;
}

#contactForm input[type="submit"]:hover {
  cursor: pointer;
  color: rgb(250, 170, 66);
  color: color-mix(in oklab, #ae88d7 100%, #ff0000 30%);
  
}

::-webkit-resizer {
  display: none;
}
